body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #e6e8ed;
    color: #666666;
}

.material-icons-outlined{
    
   
    line-height: 1px;
    vertical-align: middle;
    
}

.text-primary{
    color: #666666;
}

.text-blue{
    color: #246dec;
}

.text-red{
    color: #cc3c43;
}

.text-green{
    color: #367952;
}

.text-orange{
    color: #f5b74f;
}

.font-weight-bold{
    font-weight: 600;
}




.grid-container{
    display: grid;
    grid-template-columns: 260px 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas: 
        "sidebar header header header"
        "sidebar main main main";
    height: 100vh;
    
}
/* HEADER */
.header{
    grid-area: header;
    height: 70px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    box-shadow: 0px 6px 7px -4px rgba(0,0,0,0.2)
}

.menu-icon{
    display: none;
}


/* SIDEBAR */
#sidebar{
    grid-area: sidebar;
    height: 100%;
    background-color: #21232d;
    color: #9799ab;
    overflow-y: auto;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.sidebar-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 20px 20px;
    margin-bottom: 30px;
    
}

.sidebar-title > span{
    display: none;
    
}

.sidbar-brand{

    margin-top: 15px;
    font-size: 20px;
    font-weight: 700;
}

.sidebar-list{
    padding: 0;
    margin-top: 15px;
    list-style-type: none;
}

.sidebar-list-item{
    padding: 20px 20px 20px 20px;

}

.sidebar-list-item:hover{
    background-color:rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.sidebar-responsive{
    display: inline !important;
    position: absolute;
    
}




/* MAIN */

.main-container{
    grid-area: main;
    overflow-y: auto;
    padding: 20px 20px;
}


.main-title{
    display: flex;
    justify-content: space-between;
}

.main-title > p{
    font-size: 20px;
     
}

.main-card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 20px 0;
}

.card{
    display: flex;
    flex-direction: column;
    padding: 25px;
    background-color: white;
    box-sizing: border-box;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 0px 6px 7px -4px rgba(0, 0, 0, 0.2);
    
}

.card:first-child{
    border-left: 7px solid #246dec; 
}


.card:nth-child(2){
    border-left: 7px solid #f9c74f; 
}

.card:nth-child(3){
    border-left: 7px solid #ff6b81; 
}

.card:nth-child(4){
    border-left: 7px solid #1dd1a1; 
}

.card > span{
    font-size: 20px;
    font-weight: 600;
}

.card-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.card-inner > p{
    font-size: 18px;
    font-weight: 600;
}

.card-inner > span{
    font-size: 35px;
}


/* charts*/

.charts{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:20px;

}

.charts-card{
    background-color: white;
    margin-bottom: 20px;
    padding: 25px;
    box-sizing: border-box;
    -webkit-column-break-inside:avoid ;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 0px 6px 7px -4px rgba(0, 0, 0, 0.2);
}

.chart-title{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: 600;
}

.chart-title > h2{
    font-size: 20px;
    font-weight: 600;
}

.chart-title > span{
    font-size: 18px;
    font-weight: 600;
}

/* sidebar */

.sidebar{
    position: fixed;
    top: 0;

}


/* Media Query: medium size 992px small size 768px extra small 576 */

@media screen and (max-width: 992px) {
    .grid-container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 3fr;
        grid-template-areas: 
        "header",
        "main";
    }
    #sidebar{
        display: none;
    }
    .menu-icon{
        display: inline;
    }

    .sidebar-title > span{
        display: inline;

    }
}

@media screen and (max-width: 768px) {
    .main-card{
        grid-template-columns: 1fr;
        gap: 10px;
        margin-bottom: 0px;
    }
    .charts{
        grid-template-columns: 1fr;
        margin-top: 30px;
    }
    
}

@media screen and (max-width: 576px) {
    .header-left{
        display: none;
    }
    
}




